<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/section/head.html' %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">{{lang('layout.menu.home')}}</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="container-fluid">
    {% block content %}

    {% endblock %}
</main>
<footer></footer>
</body>
</html>