{% extends "public/layout.html" %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>{{lang('global/404.headline')}}</h1>
        </div>
    </div>
</section>
{% endblock %}

{% block meta %}
<title>{{lang('global/404.title')}}</title>
{% endblock %}