<meta charset="utf-8"/>
<title>{% block title %}{{lang('layout.title')}}{% endblock %}</title>
<link rel="stylesheet" href="/assets/css/style.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script data-main="/assets/js/config" src="/node_modules/requirejs/require.js"></script>