{% if form.validated() %}
    {% for message in form.getErrorMessages() %}
        <div class="alert alert-danger">{{message}}</div>
    {% endfor %}
{% endif %}
<form action="{{form.getAction()}}" method="{{form.getMethod()}}">
    {% for element in form.getElements() %}
        {{ include(element.getViewFilePath(), {element: element, lang: form.getLangHandler(element)}) }}
    {% endfor %}
</form>