{% extends "public/layout.html" %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>{{lang('public/user/login.headline')}}</h1>
            <div id="register-form-container">
                {% if showErrorMessage is defined and showErrorMessage %}
                    <div class="alert alert-danger">{{lang('public/user/login.loginErrorMessage')}}</div>
                {% endif %}
                {{ include('include/form/form.html', {form: form}) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block title %}
{{lang('public/user/login.title')}}
{% endblock %}