{% extends "public/layout.html" %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>{{lang('public/user/register.headline')}}</h1>
            <div id="register-form-container">
                {% if registerSuccess is defined and registerSuccess == false %}
                    <div class="alert alert-danger">{{lang('public/user/register.form.registerFailed')}}</div>
                {% elseif not form.valid() %}
                    {% if not form.validated() %}
                        <div class="alert alert-info">{{lang('public/user/register.form.formWelcome')}}</div>
                    {% endif %}
                    {{ include('include/form/form.html', {form: form}) }}
                {% else %}
                    <div class="alert alert-success">{{lang('public/user/register.form.registerSuccessfully')}}</div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block title %}
{{lang('public/user/register.title')}}
{% endblock %}