<div class="form-group">
    <label for="{{element.getId()}}">{{lang.get('label')}}</label>
    <input type="email" class="form-control" id="{{element.getId()}}" name="{{element.getName()}}" value="{{element.getValue()}}" placeholder="{{lang.get('placeholder')}}">
</div>