{% extends "user/layout.html" %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>{{lang('user/user/home.headline', {name : user.getEmail()})}}</h1>
        </div>
    </div>
</section>
{% endblock %}

{% block title %}
{{lang('user/user/home.title')}}
{% endblock %}